# Ignore these files in this folder
.DS_Store
runNo
runControl
GARFIELDPATH
log/
Geometry/*.msh
Geometry/*.sif
Geometry/*.txt
Geometry/dielectrics.dat
Geometry/elmerResults/
build/
__pycache__/
.ipynb_checkpoints/
